page-carrito-compras {
    .ion-content{
        background-color: #f5f5f5;
    }
    .divproductosItem{
        background-color: grey;
    }
    .divproductosItem div{
        display: inline;
    }
    .divproductosItem .Nombre{

    }
    .divproductosItem .Cantidad{

    }

}
