<!--
  Generated template for the ProductoDetallesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar  color="primary">
    <ion-title>{{prod.Nombre}}</ion-title>
    <ion-buttons end>
        <button ion-button icon-only (click)="presentActionSheet()">
          <ion-icon name="more"></ion-icon>
        </button>
      </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content class="ion-content">

  
  <div id="producto-detalles">
    <div class="prodphoto">
        <!-- <ion-slides>
            <ion-slide *ngIf="prod.Imagenes==null || prod.Imagenes[0]==null">
                <img title="{{prod.Nombre}}" src="https://res.cloudinary.com/dnieertcs/image/upload/v1541794688/Producto-Default.jpg">
            </ion-slide>
        </ion-slides> -->
        <ion-slides>
            <ion-slide *ngFor="let img of prod.Imagenes">
              <img title="{{prod.Nombre}}" src="{{img}}">
          </ion-slide>
        </ion-slides>
    </div>
    <div class="ProdDetails">
      <!-- <p id="titulo">{{prod.nombre}}</p> -->
      
      <p id="precio">{{prod.Moneda}} {{prod.Precio}}</p>
      <button ion-button round id="agregarCarrito" (click)="agregarAlCarrito()">
        <ion-icon name="add"></ion-icon>
      </button>
      <p id="puntos">Puntos: {{prod.Puntos}}</p>
      <p id="peso">Peso: {{prod.Peso}}</p>
      <p id="volumen">Volumen: {{prod.Volumen}}</p>
      <p id="descripcion">Descripcion:<br /> {{prod.Descripcion}}</p>

    </div>

    <div id="newComment">
      <label>Comentar:</label>
      <textarea name="nuevoComentario" [(ngModel)]="nuevoComentario" id="commentContent"></textarea>
      <button ion-button id="sendComment"  (click)="ComentarProd()" color="primary">Comentar</button>
    </div>
    <div id="comments">
      <label>Comentarios de otros usuarios:</label>
      <div class="comment" *ngFor="let comment of comments">
        <label class="commentUser">{{comment.FechaFront}}  {{comment.Email}}</label>
        <p class="commentContent">{{comment.Comentario}}</p>
      </div>
    </div>
  </div>
</ion-content>