page-registro {
    
}

.headerTitle{
    position: inherit;
    top:-50px;
    width: 100%;
}

.txtinput{
    margin: 5% 0 5% 0;
    border:1px solid rgb(121, 117, 117);
}

label{
    display: block;

}