page-registro {

}

.headerTitle{
    position: inherit;
    top: 10%;
    left: 50%;
    margin-left:-25%;
    width: 60%;
}

.txtinput{
    margin: 5% 0 5% 0;
    border:1px solid rgb(121, 117, 117);
}

label{
    display: block;

}